body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  max-width: 1528px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 25.5px;
}
.logo-web {
  color: #2e2f42;
}
a {
  text-decoration: none;
}
.head-link {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: left;
  display: block;
}
.head-link:hover,
.head-link:focus {
  color: #404bbf;
}
.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.adress-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.page-title-fon {
  background-color: #2e2f42;

  width: auto;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;
  display: flex;
  width: 496px;
}
.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  background-color: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  display: inline-flex;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  gap: 10px;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.head-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;

  letter-spacing: 0.02em;
  text-align: left;
}
.team-fon {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-fon-item {
  background-color: #ffffff;
}

.footer-fon {
  background-color: #2e2f42;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-web-footer {
  color: #f4f4fd;
}
