body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1528px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.section {
  padding: 120px 0;
}

/*---------Heder----------*/

.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 25.5px;
}
.logo-web {
  color: #2e2f42;
}

.head-link {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: left;
  display: block;
}
.head-link:hover,
.head-link:focus {
  color: #404bbf;
}
.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.adress-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*-------Hero---------*/

.page-title-fon {
  background-color: #2e2f42;

  width: auto;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;

  width: 496px;
}
.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  background-color: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  display: inline-flex;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  gap: 10px;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/*--------Advantages-------*/

.advantages-title {
  display: none;
}
.advantages {
  display: flex;
  gap: 24px;
}
.head-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  display: block;
}
.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;

  letter-spacing: 0.02em;
  text-align: left;
}

/*--------Team----------*/

.team-container {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.team {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin: 0 156px;
}
.team-fon {
  background-color: #f4f4fd;
}
.team-title {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 639px;
}
.team-fon-item {
  background-color: #ffffff;
}

/*-----Portfolio------*/

.port-container {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
  margin: 0 156px;
}
.port-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

/*------Footer--------*/

.footer-fon {
  background-color: #2e2f42;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
  width: 264px;
  margin-top: 17.5px;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-web-footer {
  color: #f4f4fd;
}
